.chart {
  width: 400px !important;
  height: 400px !important;
  background-color: white;
  border: 1px solid black;
  border-radius: 6px;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
