{% load i18n %}
{% load static %}

<div class="content-section">
  <h4>{% trans "Image Modifiers" %}</h4>
  <nav class="nav nav-tabs">
    <a data-toggle="tab" href="#tab_basics" class="nav-item nav-link active" style="display: none;">{% trans "Basics" %}</a>
    <a data-toggle="tab" href="#tab_noise" class="nav-item nav-link" style="display: none;">{% trans "Noise" %}</a>
    <a data-toggle="tab" href="#tab_filters" class="nav-item nav-link" style="display: none;">{% trans "Filters" %}</a>
  </nav>
  <div class="tab-content">
    <div id="tab_basics" class="tab-pane fade active show">
      <form action="" method="post">
        <br>
        <p>
          {% trans "Brightness: " %}
          <span id="brightness_value">
            -
          </span>
          {% trans "grayscale shades" %}
        </p>
        <div class="slidecontainer">
          <input type="range" min="-255" max="255" value="0" class="slider" id="range_brightness">
        </div>
        <hr>
        <p>
          {% trans "Contrast: " %}
          <span id="contrast_value">
            -
          <span>
        </p>
        <div class="slidecontainer">
          <input type="range" min="0" max="200" value="100" class="slider" id="range_contrast">
        </div>
        <hr>
        <p class="text-center">
          <button class="btn btn-primary"
            type="button"
            title="{% trans 'Negative' %}"
            id="btn_negative">
            {% trans 'Negative' %}
          </button>
          <button class="btn btn-primary"
            type="button"
            title="{% trans 'Identity' %}"
            id="btn_identity"
            style="display: none;">
            {% trans 'Identity' %}
          </button>
        </p>
        <hr>
        <a href="javascript:void(0);" id="trigger_see_more_options">
          {% trans "See more options" %}
          <i class="fa fa-caret-down" aria-hidden="true" id="id_icon_to_show_hide"></i>
        </a>
        <div id="show_hide_more_options" style="display: none;">
          <br>
          <p>
            {% trans "Logarithm" %}
            <span id="logarithm_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="0" max="255" value="0" class="slider" id="range_logarithm">
          </div>
          <hr>
          <p>
            {% trans "Exponential" %}
            <span id="exponential_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="100" max="300" value="100" class="slider" id="range_exponential">
          </div>
          <hr>
          <p>
            {% trans "Power" %}
            <span id="power_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="100" max="300" value="100" class="slider" id="range_power">
          </div>
        </div>
        <hr>
        <p class="text-right">
          <input type="submit" value="Save">
        </p>
      </form>
    </div>
    <div id="tab_noise" class="tab-pane fade">
      <form action="" method="post">
        <br>
        <p>
          {% trans "Noise type: " %}
          <select>
            <option value="uniform">{% trans "Uniform" %}</option>
            <option value="gaussian">{% trans "Gaussian" %}</option>
            <option value="rayleight">{% trans "Rayleigh" %}</option>
            <option value="exponential">{% trans "Exponential" %}</option>
            <option value="gamma">{% trans "Gamma" %}</option>
            <option value="salt_and_pepper">{% trans "Salt and Pepper" %}</option>
          </select>
        </p>
        <hr>
        <p>{% trans "Amount" %}</p>
        <p class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="range_amount">
        </p>
        <p>
          {% trans "Range: " %}
          <input type="text" name="range">
        </p>
        <input type="submit" value="Submit">
      </form>
    </div>
    <div id="tab_filters" class="tab-pane fade">
      <p>Some content in Filters.</p>
    </div>
    <div id="tab_morph" class="tab-pane fade">
      <p>Some content in Morph.</p>
    </div>
    <div id="tab_segmentation" class="tab-pane fade">
      <p>Some content in Segmentation.</p>
    </div>
  </div>
</div>

<div class="content-section">
  <h4>{% trans "Mini-Viewer" %}</h4>
  <form action="" method="post" style="display: none;">
    <input type="button" name="viewer-equalize" value="Equalize">
  </form>
  <input type="checkbox" name="viewer-compare" value="Compare" id="input_compare">
  {% trans "Compare" %}
  <input type="checkbox" name="viewer-histogram" value="Histogram" id="input_histogram">
  {% trans "Histogram" %}
  <h6 class="text-center">{% trans "Original Image" %}</h6>
  <p class="text-center">
    <img src="{{image_object.original_image.url}}" width="150px" height="auto">
  </p>
</div>


<div class="content-section">
  {% if actions_history %}
    <button class="btn btn-primary pull-right mr15"
      title="{% trans 'Download History' %}"
      id="btn_download_history"
      style="margin-right: 0px; font-size: 10px;">
      <i class="fa fa-download" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary pull-right mr15"
      title="{% trans 'Undo Last Action' %}"
      id="btn_undo_last_action"
      style="margin-right: 5px; font-size: 10px;">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
  {% endif %}

  <h4><strong>{% trans "History" %}</strong></h4>
  {% if actions_history %}
    <ol>
      <li>{% trans "Change Brightness and Contrast" %}</li>
      <li>{% trans "Negative" %}</li>
      <li>{% trans "Add Noise" %}</li>
    </ol>
  {% else %}
  <ul>
    <li>{% trans "Your image has no modifications saved." %}</li>
  </ul>
  {% endif %}
</div>
