{% load i18n %}
{% load static %}
{% load bootstrap3 %}

<div class="content-section">
  <h4>{% trans "Image Modifiers" %}</h4>
  <nav class="nav nav-tabs">
    <a data-toggle="tab" href="#tab_preview" class="nav-item nav-link active">
      {% trans "Preview" %}
    </a>
    <a data-toggle="tab" href="#tab_intensity" class="nav-item nav-link">
      {% trans "Intensity" %}
    </a>
    <a data-toggle="tab" href="#tab_noise" class="nav-item nav-link">
      {% trans "Noise" %}
    </a>
    <a data-toggle="tab" href="#tab_filters" class="nav-item nav-link">
      {% trans "Filters" %}
    </a>
    <a data-toggle="tab" href="#tab_info" class="nav-item nav-link">
      {% trans "Info" %}
    </a>
  </nav>
  <div class="tab-content">
    <div id="tab_preview" class="tab-pane fade active show">
      <form action="" method="post">
        <br>
        <p>
          {% trans "Brightness: " %}
          <span id="brightness_value">
            -
          </span>
          {% trans "shades" %}
        </p>
        <div class="slidecontainer">
          <input type="range" min="-255" max="255" value="0" class="slider" id="range_brightness">
        </div>
        <hr>
        <p>
          {% trans "Contrast: " %}
          <span id="contrast_value">
            -
          <span>
        </p>
        <div class="slidecontainer">
          <input type="range" min="0" max="200" value="100" class="slider" id="range_contrast">
        </div>
        <hr>
        <p class="text-center">
          <button class="btn btn-primary"
            type="button"
            title="{% trans 'Negative' %}"
            id="btn_negative">
            {% trans 'Negative' %}
          </button>
          <button class="btn btn-primary"
            type="button"
            title="{% trans 'Identity' %}"
            id="btn_identity"
            style="display: none;">
            {% trans 'Identity' %}
          </button>
        </p>
        <hr>
        <a href="javascript:void(0);" id="trigger_see_more_options">
          {% trans "See more options" %}
          <i class="fa fa-caret-down" aria-hidden="true" id="id_icon_to_show_hide"></i>
        </a>
        <div id="show_hide_more_options" style="display: none;">
          <br>
          <p>
            {% trans "Logarithm" %}
            <span id="logarithm_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="0" max="255" value="0" class="slider" id="range_logarithm">
          </div>
          <hr>
          <p>
            {% trans "Exponential" %}
            <span id="exponential_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="100" max="300" value="100" class="slider" id="range_exponential">
          </div>
          <hr>
          <p>
            {% trans "Power" %}
            <span id="power_value">
              -
            <span>
          </p>
          <div class="slidecontainer">
            <input type="range" min="100" max="300" value="100" class="slider" id="range_power">
          </div>
        </div>
        <hr>
        <p class="text-right">
          <input type="submit" class="btn btn-success" value="Save">
        </p>
      </form>
    </div>
    <div id="tab_intensity" class="tab-pane fade">
      {# {% bootstrap_form brightness_form layout='vertical' %} #}
      <br>
      <form action="{% url 'add_intensity_modifier' %}" method="post">{% csrf_token %}
        {% bootstrap_form intensity_form layout='vertical' %}
        <p class="text-right">
          <button type="submit" class="btn btn-success">{% trans "Confirm" %}</button>
        </p>
      </form>
    </div>
    <div id="tab_noise" class="tab-pane fade">
      <br>
      <form action="" method="post">{% csrf_token %}
        {% bootstrap_form noise_form layout='vertical' %}
        <p class="text-right">
          <button type="submit" class="btn btn-success">{% trans "Confirm" %}</button>
        </p>
      </form>
    </div>
    <div id="tab_filters" class="tab-pane fade">
      <br>
      <form action="" method="post">{% csrf_token %}
        {% bootstrap_form filters_form layout='vertical' %}
        <p class="text-right">
          <button type="submit" class="btn btn-success">{% trans "Confirm" %}</button>
        </p>
    </div>
    <div id="tab_morph" class="tab-pane fade">
      <p>Some content in Morph.</p>
    </div>
    <div id="tab_segmentation" class="tab-pane fade">
      <p>Some content in Segmentation.</p>
    </div>
    <div id="tab_info" class="tab-pane fade">
      <ul>
        {% for key, value in image_object.get_image_informations.items %}
          {% if key == 'info' %}
            <li>{{key}}:
              <ul>
                {% for key2, value2 in value.items %}
                  <li>{{key2}}: {{value2}}</li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li>{{key}}: {{value}}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="content-section">
  <h4>{% trans "Mini-Viewer" %}</h4>
  <form action="" method="post" style="display: none;">
    <input type="button" name="viewer-equalize" value="Equalize">
  </form>
  <input type="checkbox" name="viewer-compare" value="Compare" id="input_compare">
  {% trans "Compare" %}
  <input type="checkbox" name="viewer-histogram" value="Histogram" id="input_histogram">
  {% trans "Histogram" %}
  <h6 class="text-center">{% trans "Original Image" %}</h6>
  <p class="text-center">
    <img src="{{image_object.original_image.url}}" width="150px" height="auto">
  </p>
</div>


<div class="content-section">
  {% if actions_history %}
    <button class="btn btn-primary pull-right mr15"
      title="{% trans 'Download History' %}"
      id="btn_download_history"
      style="margin-right: 0px; font-size: 10px;">
      <i class="fa fa-download" aria-hidden="true"></i>
    </button>
    <button class="btn btn-primary pull-right mr15"
      title="{% trans 'Undo Last Action' %}"
      id="btn_undo_last_action"
      style="margin-right: 5px; font-size: 10px;">
      <i class="fa fa-undo" aria-hidden="true"></i>
    </button>
  {% endif %}

  <h4><strong>{% trans "History" %}</strong></h4>
  {% if actions_history %}
    <ol>
      {% for action in actions_history %}
        <li>{{ action }}</li>
      {% endfor %}
    </ol>
  {% else %}
  <ul>
    <li>{% trans "Your image has no modifications saved." %}</li>
  </ul>
  {% endif %}
</div>
