{% load i18n %}
<div class="content-section">
<h3>{% trans "Our Sidebar" %}</h3>
<p class='text-muted'>{% trans "You can put any information here you'd like." %}
  <ul class="list-group">
    <li class="list-group-item list-group-item-light">{% trans "Latest" %}</li>
    <li class="list-group-item list-group-item-light">{% trans "Announcements" %}</li>
    <li class="list-group-item list-group-item-light">{% trans "Calendars" %}</li>
    <li class="list-group-item list-group-item-light">{% trans "etc" %}</li>
  </ul>
</p>
</div>
