{% load i18n %}
{% load static %}

<nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
  <div class="container">
    <a class="navbar-brand mr-4" href="{% url 'home' %}">{% trans "Medical Images 2" %}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggle">
      <!-- Navbar Left Side -->
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
        <a class="nav-item nav-link" href="{% url 'about' %}">{% trans "About" %}</a>
      </div>
      <!-- Navbar Right Side -->
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <span class="dropdown">
          <a href="#" class="dropdown-toggle nav-item nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% if user.last_name or user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.username }}{% endif %}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="text-center"><span>{% trans "My user account" %}</span></li>
            <li class="user-option"><a class="user-link" href="{% url 'profile' %}">{% trans " - Profile" %}</a></li>
            <li role="separator" class="divider"></li>
            <li class="user-option"><a class="user-link" href="{% url 'logout' %}">{% trans " - Logout" %}</a></li>
          </ul>
        </span>
        {% else %}
          <a class="nav-item nav-link" href="{% url 'login' %}">{% trans "Login" %}</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">{% trans "Register" %}</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
