{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-config" content="none">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'im2webapp/images/favicon.png' %}">

    {% block extra_meta %}{% endblock %}
    <title>{% block title %}{% endblock %} | {% block title_suffix %}IM2{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'im2webapp/css/main.css' %}">

    {# Global fonts #}
	  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% block extra_css %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %} ">

    <header class="site-header">
    {% block top_menu %}{% include 'im2webapp/_top_menu.html' %}{% endblock %}
    </header>

    {% block layout %}{% endblock %}

    <main role="main" style="margin-right: 15px; margin-left: 15px;">
      {% block outside_side_bar %}
        <div class="row">
          <div class="col-md-3"> {# 2 pq a thaynara falou q ficava melhor col-md-2 do que col-md-3 #}
            {% block side_bar %}{% endblock %}
          </div>
          {% block outside_content %}
          <div class="col-md-9">
              {% include 'im2webapp/_messages.html' %}
              {% block content %}{% endblock %}
          </div>
          {% endblock %}
        </div>
      {% endblock %}
      {% block footer %}{% include 'im2webapp/_footer.html' %}{% endblock %}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{% static 'im2webapp/js/app.js' %}" type="text/javascript"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
