{% extends "im2webapp/base_belo_horizonte.html" %}
{% load i18n %}
{% load static %}
{% load chartit %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'im2webapp/css/belo_horizonte.css' %}">
{% endblock %}

{% block title %}{{title}}{% endblock %}

{% block side_bar %}{% include 'im2webapp/_belo_horizonte_side_bar.html' %}{% endblock %}
{% block content %}
  <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <small class="text-muted">{% trans "Result" %}</small>
      </div>
      <h2>{% trans "Reconstruction" %}</h2>
      <p class="article-content text-center" id="id_quat">
        {{ quaternion }}
      <p>
      <button class="btn" id="id_btn_do_something">Do something</button>
      <div id="3d-graph"></div>
    </div>
  </article>
{% endblock content %}


{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'im2webapp/js/belo_horizonte.js' %}"></script>
{% endblock %}
