{% extends "im2webapp/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block side_bar %}{% include 'im2webapp/_side_bar.html' %}{% endblock %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <strong>COVID-19 | Grupo de Imagens Médica</strong>
      /
      <small class="text-muted">Projeto COVID-19 | UFU</small>
    </div>
    <h2 class="text-center" style="padding-top:10px;">Projeto COVID-19 | UFU</h2>
    <div style="padding-top:10px;">
      <p class="text-center">
        <img src="{% static 'im2webapp/images/covidao.png' %}" style="border-radius: 1%; max-width: 80%;">
        <br>
        <small class="text-muted text-center">Tela de edição de imagem</small>
      </p>
      <p>
        Plataforma para processamento e classificação de imagens médicas relacionadas ao COVID-19.
        <br>
        <span><i class="fa fa-info" aria-hidden="true"></i>: </span>
        Clique 
        <a href="{% url 'about' %}">aqui</a>
        para saber mais.
      </p>
    </div>
  </div>
</article>
{% endblock content %}
