{% extends "im2webapp/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "My Images" %}{% endblock %}


{% block outside_content %}

  <div style="margin-right: 150px; margin-left: 150px; width: 100%;">
    <a id="top"></a>
    <h1 class="text-center">{% trans 'My images' %}</h1>

  <hr>

  {% if object_list %}
    <div class="row">
      {% include "im2webapp/_add_new_image_thumbnail.html" %}
      {% for image_object in object_list %}
        {% include "im2webapp/_image_list_thumbnail.html" %}
      {% endfor %}
    </div>
  {% else %}
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">{% trans 'You have no images, please add one.' %}</p>
      </div>
      <div class="col-md-4">
      </div>
      {% include "im2webapp/_add_new_image_thumbnail.html" %}
    </div>
  {% endif %}
  </div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script src="{% static 'im2webapp/js/tiff.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'im2webapp/js/image-list.js' %}" type="text/javascript"></script>
{% endblock %}
