{% extends "im2webapp/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{{title}}{% endblock %}

{% block side_bar %}{% include 'im2webapp/_edit_image_side_bar.html' %}{% endblock %}

{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <small class="text-muted">{% trans "Image Output" %}</small>
    </div>
    <h2><a class="article-title" href="#">Mammography</a></h2>
    <p class="article-conten text-center">
      <img src="{% static 'im2webapp/images/examples/mammography.jpg' %}">
    </p>
  </div>
</article>
{% endblock content %}
