{% extends "im2webapp/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "My Images" %}{% endblock %}


{% block outside_content %}

  <div class="container">
    <a id="top"></a>
    <h1 class="text-center">{% trans 'My images' %}</h1>
  </div>

  <hr>

  {% if object_list %}
    <div class="row">
      {% include "im2webapp/_add_new_image_thumbnail.html" %}
      {% for image_object in object_list %}
        {% include "im2webapp/_image_list_thumbnail.html" %}
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans 'You have no images, please add one.' %}</p>
  {% endif %}
</div>

{% endblock %}
