{% extends "im2webapp/base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% trans "Adicionar um Group de Imagens (Zip)" %}{% endblock %}


{% block outside_content %}

  <div style="margin-right: 150px; margin-left: 150px;">
    <h1>{% trans "Adicionar um Group de Imagens (Zip)" %}</h1>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form layout='vertical' %}
          <button type="submit" class="btn btn-success pull-right">{% trans "Confirm" %}</button>
          <a href="{% url 'images_list' %}" class="btn btn-danger pull-right text-white" style="margin-right: 5px;">{% trans "Cancel" %}</a>
        </form>
      <div>
    </div>
  </div>

{% endblock %}

{% block extra_js %}
    <script src="{% static 'im2webapp/js/upload_image.js' %}" type="text/javascript"></script>
{% endblock %}
