<ul>
    {% for key, value in image_object.get_image_informations.items %}
        {% if key == 'info' %}
        <li>{{key}}:
            <ul>
            {% for key2, value2 in value.items %}
                <li>{{key2}}: {{value2}}</li>
            {% endfor %}
            </ul>
        </li>
        {% elif key == 'entropy' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% elif key == 'std_original' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% elif key == 'std_processada' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% elif key == 'var_original' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% elif key == 'var_processada' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% elif key == 'PSNR' %}
            <li>{{key}}: {{value|floatformat:4}}</li>
        {% else %}
        <li>{{key}}: {{value}}</li>
        {% endif %}
    {% endfor %}
</ul>